* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main {
  display: grid;
  align-items: center;
  justify-items: center;
}

.contenedor-login {
  width: 420px;
  padding: 40px 40px;
  background: #F2FCFF;
  border: 2px solid #C3F1FF;
  border-radius: 30px;
}

.contenedor-login h1 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  color: #5AD2AE;
}

.datos-login {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

.datos-login input[type="text"],
input[type="password"] {
  height: 80px;
  border: 1px solid #C3F1FF;
  border-radius: 39.5px;
  text-align: center;
}

.datos-login input[type="button"] {
  color: #FFFFFF;
  background: turquoise;
  border-radius: 39.5px;
  border: 1px solid #C3F1FF;
  height: 80px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.datos-login input[type="button"]:hover {
  cursor: pointer;
  background: #469F85;
}

.datos-login input::placeholder {
  color: #5AD2AE;
  opacity: 1;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #5AD2AE;
}

.oculto {
  display: none;
}

.error {
  text-align: center;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: red;
}

.corazon {
  text-align: center;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #AFAFAF;
}