<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LAYOUT</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="contenedor-titulo">

        <h1 class="titulo">Zafary</h1>

    </header>

    <main class="contenedor-principal">

        <aside class="contenedor-secciones">
            <ul class="lista-paginas">
                <h5 id="P_Home"> Home</h5>
                <h5 id="P_Whatzapp"> WhatzApp</h5>
                <h5 id="P_Zpotify"> Zpotify</h5>
            </ul>
        </aside>

        <section class="contenedor-paginas">
            <article>
                <p id="titulo-pagina"> <strong>Zafary</strong></p>
            </article>
            <iframe id="infoPagina" src="../Home/index.html" frameborder="0"></iframe>
        </section>

    </main>
    <script src="index.js"></script>
</body>
</html>